---
layout: default_note
title: Notes
subtitle: Here are some notes I took and I like to refer to.
---

<!-- <ul>
  {% for note in site.notes %}
    <li>
      <h2><a href="{{ note.url }}">{{ note.name }}</a></h2>
      <h3>{{ note.position }}</h3>
      <p>{{ note.content | markdownify }}</p>
    </li>
  {% endfor %}
</ul> -->

<!-- <div class="list-group list-group-horizontal-md">
  <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
  <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
</div> -->

{% assign sortedNotes = site.notes | sort: 'name' %}

<div class="list-group list-group-horizontal-md">
  {% for note in sortedNotes %}
    <!-- <a href="{{ note.url }}" class="list-group-item">{{ note.title }}</a> -->
    <a href="#{{ note.title }}" class="list-group-item">{{ note.title }}</a>
  {% endfor %}
</div>

{% for note in sortedNotes %}
  <hr>
  <h3 id="{{ note.title }}">{{ note.title }}</h3>
  <p class="lead text-muted">Last update: {{ note.update_date | date_to_long_string: "ordinal", "US" }}</p>
  <p>{{ note.content }}</p>
  <p class="text-center"><a href="#" class="text-muted">Top</a></p>
{% endfor %}
